h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}
body {
  padding: 42px 6px 6px 6px;
}
.home-wrapper {
  position: absolute;
  top: 6px;
  left: 6px;
  display: block;
  padding: 4px 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
}
.module-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}
.module-item {
  padding: 4px 10px;
  background-color: #6495ed;
  border: 2px solid black;
  border-radius: 6px;
}
.module-link {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
}
